<!DOCTYPE html>
<head>
    <title>Page Someone - Better Amion</title>
	<link href="bootstrap-2.2.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!--<link href="js/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet">-->
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<!-- Le positioning shim, for IE6-8 aberrant element positions -->
	<!--[if lt IE 8]>
		<link href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<h1 id="title"><img id="amionLogo" src="img/amion-logo-small.jpg">Better AMiON <span class="muted">v0.1.1</span></h1>
		</div>
	</div>
	<div class="row">
		<div class="span5">
			<div id="formContainer">
				<form id="pageForm">
					<fieldset>
						<legend>Send a Page</legend>
						<div id="pageAlert" class="alert" style="display:none"></div>
						<label>To:</label>
                        <div id="toList"></div>
						<input id="To" type="text" autocomplete="off" class="span5">
						<label>From:</label>
						<input id="From" type="text" class="span5">
						<label>Message:</label>
						<textarea id="Note" rows="3" class="span5"></textarea>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary span4" style="float:left">Send</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="span7" id="onCallContainer">
			<div class="legendLike">
				On Call
				<div id="datePicker" class="muted">
					<span id="spinner"></span>
					<span id="dateArrowLeft" class="dateArrow arrowLeft"><a href="#"></a></span>
					<span id="dateText">Today</span>
					<span id="dateArrowRight" class="dateArrow arrowRight"><a href="#"></a></span>
				</div>
			</div>
			<div id="onCall" class="well">
				
			</div>
		</div>
	</div>
</div>
   
<!-- Templates -->

<!-- template for On Call list -->
<script type="text/x-jqote-template" id="onCall_template">
<![CDATA[
<table class="table">
<tbody>
<* for (var key in this.onCallTeams) {
	var team = this.onCallTeams[key]; *>
	<tr>
	<th colspan="4"><*= team.name *></th>
	</tr>
	<* if( team.people ) {
		$.each( team.people, function( index, person ) { *>
		<tr class="inverse-well">
		<td class="<*= person.training.toLowerCase() *> first"><*= person.name *>&nbsp;&nbsp;<small class="muted"><*= person.service *></small></td>
		<td><*= person.training *></td>
		<td>
			<* if ( person.contact.number.indexOf("UMMS") === -1 ) { *>
				<span class="muted">b</span><* } *><*= person.contact.number *>
		</td>
		<td class="last">
			<* if ( person.contact.number.indexOf("UMMS") === -1 ) { *>
				<button class="btn btn-mini pageButton" pageName="<*= person.name *>">Page</button>
			<* } *>
		</td>
		</tr>
	<* }); } *>
<* }; *>
</tbody>
</table>
]]>
</script>

<!-- template for To tile -->
<script type="text/x-jqote-template" id="toTile_template">
<![CDATA[
<div class="alert alert-info to-tile">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="tileRecipient"><*= this.name *></span>
</div>
]]>
</script>
	
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<!--<script type="text/javascript" src="js/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>-->
<script type="text/javascript" src="js/jquery.jqote2.min.js"></script>
<script type="text/javascript" src="bootstrap-2.2.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/spin.min.js"></script>
<script type="text/javascript" src="js/spin.jquery.js"></script>
<script type="text/javascript" src="js/async.js"></script>
<script type="text/javascript">
$(function() {

var pageForm = $('#pageForm'),
	pageAlert = $('#pageAlert'),
	pageNote = $('textarea#Note'),
	pageTo = $('input#To'),
	pageFrom = $('input#From'),
	nameList = <%- JSON.stringify(nameList) %>,
	onCallTeamList = <%- JSON.stringify(onCallTeams) %>,
	onCallLists = {},
	day,
	month,
	year,
	onCallListTmpl = $.jqotec('#onCall_template', '*'),
    toTileTmpl = $.jqotec('#toTile_template', '*'),
    recipientList = [],
	date = today = new Date();
	
pageForm.on('submit', function(e) {
	e.preventDefault();
    
    /* Here will go logic to send multi-pages */
	
	var params = {
		To: '',
		From: pageFrom.val(),
		Note: pageNote.val()
	};
    
    function sendPage( to, callback ) {
		console.log('send to:');
		console.log(to);
		
		params.To = to;
		
    	$.post('/sendPage', params, function(response) {
    		if(response.success) {
    		// page successful
                callback(null, response);
    		} else {
    		// page unsuccessful
                callback(null, response);
    		}
    	}, 'json');
    }
    
    async.map( recipientList, sendPage, function(err, response){
		console.log('async response:');
		console.log(response);
		
		var successful = [],
			failed = [],
			alert = '';
		
		if (err) {
			pageAlert
				.removeClass('alert-success')
				.addClass('alert-error')
				.text(err)
				.fadeIn().delay(5000).fadeOut();
		} else {
			$.each(response, function(i, item){
				if (item.success) {
					successful.push(item);
				} else {
					failed.push(item);
				}
			});
			
			if (successful.length > 0) {
				var alertPrefix = successful.length > 1 ? 'Sent pages to ' : 'Sent page to ';
				alert = alertPrefix +
						successful.map(function(item){
							return item.to;
						})
						.join(', ');
				pageAlert
					.removeClass('alert-error')
					.addClass('alert-success')
					.text(alert)
					.fadeIn().delay(5000).fadeOut();
				pageNote.val('');
				pageTo.val('').focus();
			} else if (failed.length > 0)  {
				alert = 'Could not send pages to '+
						failed.map(function(item){
							return item.to;
						})
						.join(', ');
				pageAlert
					.removeClass('alert-success')
					.addClass('alert-error')
					.text(alert)
					.fadeIn().delay(5000).fadeOut();
			}
		}
	});
});

$('#onCallContainer').on('click', '.pageButton', function(e) {
	var pageName = $(this).attr('pageName');
	pageTo.val(pageName);
	if( pageFrom.val() === '' ) {
		pageFrom.focus();
	} else {
		pageNote.focus().select();
	}
});

$('.dateArrow').on('click', function(e) {
	e.preventDefault();
	// get calendar day
	if ( $(this).attr('id') === 'dateArrowLeft' ) {
		date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);
	} else {
		date = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1);
	}
	
	if ( typeof onCallLists[date] === 'undefined' ) {
	// this date's list hasn't been fetched yet - fetch and cache it
		$('#spinner').spin({ lines: 8, length: 4, width: 3, radius: 5, top: '10px', left: '-25px'});
		$.get('/onCall/'+date.getDate()+'/'+(date.getMonth() + 1)+'/'+date.getFullYear(), function(response) {
			onCallLists[date] = $.jqote(onCallListTmpl,{onCallTeams: response.onCallTeams});
			$('#onCall').html(onCallLists[date]);
			$('#spinner').spin(false);
		}, 'json');
	} else {
		$('#onCall').html(onCallLists[date]);
	}
		
	updateDateText(date);
});

function updateDateText(date) {
	$('#dateText').text((date.getMonth() + 1)+'/'+date.getDate()+'/'+date.getFullYear());
};

// To input typeahead
$('#To').typeahead({
	source: nameList,
    updater: function(item) {
            itemTile = $.jqote(toTileTmpl, {name: item});
            $('#toList').append(itemTile);
            // add name to recipient list
            recipientList.push(item);
            return '';
        }
});

$('#toList').on('close','.to-tile',function(){
    var toRemove = $(this).find('.tileRecipient').html(),
        recIndex = $.inArray( toRemove, recipientList );
    console.log('remove: '+toRemove);
    
    if ( recIndex > -1) {
    // it exists as a tile, remove it
        recipientList.splice(recIndex,1);
    } else {
    // not added as tile, something went wrong
        console.log('not a tile, what happened?');
    }
});

// immediately bring focus to "To" field
$('#To').focus();

// fill onCall list
onCallLists[date] = $.jqote(onCallListTmpl,{onCallTeams: onCallTeamList});
$('#onCall').html(onCallLists[date]);
updateDateText(date);

});
</script>
</body>
</html>