<!DOCTYPE html>
<head>
    <title>Better Amion</title>
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
	<!-- Le positioning shim, for IE6-8 aberrant element positions -->
	<!--[if lt IE 8]>
		<link href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
</head>
<body>
<div class="container">
	<div class="row">
		<div class="span12">
			<h1><img id="amionLogo" src="img/amion-logo-small.jpg">Better AMiON</h1>
		</div>
	</div>
	<div class="row">
		<div class="span5">
			<div id="formContainer">
				<form id="pageForm">
					<fieldset>
						<legend>Send a Page</legend>
						<div id="pageAlert" class="alert" style="display:none"></div>
						<label>To:</label>
						<input id="To" type="text" autocomplete="off" class="span5">
						<label>From:</label>
						<input id="From" type="text" class="span5">
						<label>Message:</label>
						<textarea id="Note" rows="3" class="span5"></textarea>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary span4" style="float:left">Send</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="span7" id="onCallContainer">
			<div class="legendLike">
				On Call
				<div id="datePicker" class="muted">
					<span id="spinner"></span>
					<span id="dateArrowLeft" class="dateArrow arrowLeft"><a href="#"></a></span>
					<span id="dateText">Today</span>
					<span id="dateArrowRight" class="dateArrow arrowRight"><a href="#"></a></span>
				</div>
			</div>
			<div id="onCall" class="well">
				
			</div>
		</div>
	</div>
</div>
   
<!-- Templates -->
<script type="text/x-jqote-template" id="onCall_template">
<![CDATA[
<table class="table">
<tbody>
<* for (var key in this.onCallTeams) {
	var team = this.onCallTeams[key]; *>
	<tr>
	<th colspan="4"><*= team.name *></th>
	</tr>
	<* if( team.people ) {
		$.each( team.people, function( index, person ) { *>
		<tr class="inverse-well">
		<td class="<*= person.training.toLowerCase() *> first"><*= person.name *>&nbsp;&nbsp;<small class="muted"><*= person.service *></small></td>
		<td><*= person.training *></td>
		<td>
			<* if ( person.contact.number.indexOf("UMMS") === -1 ) { *>
				<span class="muted">b</span><* } *><*= person.contact.number *>
		</td>
		<td class="last">
			<* if ( person.contact.number.indexOf("UMMS") === -1 ) { *>
				<button class="btn btn-mini pageButton" pageName="<*= person.name *>">Page</button>
			<* } *>
		</td>
		</tr>
	<* }); } *>
<* }; *>
</tbody>
</table>
]]>
</script>
	
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery.jqote2.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/spin.min.js"></script>
<script type="text/javascript" src="js/spin.jquery.js"></script>
<script type="text/javascript">
$(function() {

var pageForm = $('#pageForm'),
	pageAlert = $('#pageAlert'),
	pageNote = $('textarea#Note'),
	pageTo = $('input#To'),
	pageFrom = $('input#From'),
	nameList = <%- JSON.stringify(nameList) %>,
	onCallTeamList = <%- JSON.stringify(onCallTeams) %>,
	onCallLists = {},
	day,
	month,
	year,
	onCallListTmpl = $.jqotec('#onCall_template', '*'),
	date = today = new Date();
				
pageForm.on('submit', function(e) {
	e.preventDefault();
	
	var params = {
		To: pageTo.val(),
		From: pageFrom.val(),
		Note: pageNote.val()
	};
		
	$.post('/sendPage', params, function(response) {
		if(response.success) {
		// page successful
			pageAlert
				.removeClass('alert-error')
				.addClass('alert-success')
				.text(response.msg)
				.fadeIn().delay(5000).fadeOut();
			pageNote.val('');
			pageTo.val('').focus();
		} else {
		// page unsuccessful
			pageAlert
				.removeClass('alert-success')
				.addClass('alert-error')
				.text(response.msg)
				.fadeIn().delay(5000).fadeOut();
		}
	}, 'json');
});

$('#onCallContainer').on('click', '.pageButton', function(e) {
	var pageName = $(this).attr('pageName');
	pageTo.val(pageName);
	if( pageFrom.val() === '' ) {
		pageFrom.focus();
	} else {
		pageNote.focus().select();
	}
});

$('.dateArrow').on('click', function(e) {
	e.preventDefault();
	// get calendar day
	if ( $(this).attr('id') === 'dateArrowLeft' ) {
		date = new Date(date.getFullYear(), date.getMonth(), date.getDate() - 1);
	} else {
		date = new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1);
	}
	
	if ( typeof onCallLists[date] === 'undefined' ) {
	// this date's list hasn't been fetched yet - fetch and cache it
		$('#spinner').spin({ lines: 8, length: 4, width: 3, radius: 5, top: '10px', left: '-25px'});
		$.get('/onCall/'+date.getDate()+'/'+(date.getMonth() + 1)+'/'+date.getFullYear(), function(response) {
			onCallLists[date] = $.jqote(onCallListTmpl,{onCallTeams: response.onCallTeams});
			$('#onCall').html(onCallLists[date]);
			$('#spinner').spin(false);
		}, 'json');
	} else {
		$('#onCall').html(onCallLists[date]);
	}
		
	updateDateText(date);
});

function updateDateText(date) {
	$('#dateText').text((date.getMonth() + 1)+'/'+date.getDate()+'/'+date.getFullYear());
};

// To input typeahead
$('#To').typeahead({
	source: nameList
});

// immediately bring focus to "To" field
$('#To').focus();

// fill onCall list
onCallLists[date] = $.jqote(onCallListTmpl,{onCallTeams: onCallTeamList});
$('#onCall').html(onCallLists[date]);
updateDateText(date);

});
</script>
</body>
</html>